[submodule "Finite Element Method/Dependencies/NumericalMethods"]
	path = Finite Element Method/Dependencies/NumericalMethods
	url = https://github.com/Dar3cz3Q-Univeristy/NumericalMethods.git
[submodule "Dependencies/googletest"]
	path = Dependencies/googletest
	url = https://github.com/Dar3cz3Q/googletest.git
